<div class="container">
    <div class="header">
        <h2>Perfil: {{username}}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-settings-check">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M11.445 20.913a1.665 1.665 0 0 1 -1.12 -1.23a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.31 .318 1.643 1.79 .997 2.694" />
            <path d="M15 19l2 2l4 -4" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
        </svg>
    </div>

    <div class="cover-photo">
        <img [src]="banner" alt="img_banner" class="img_banner">
    </div>
    <div class="perfil">
        <div class="profile-photo">
            <img [src]="imagen_perfil" alt="img_profile" class="img_profile">
        </div>

        <!-- TODO ESTE BOTON SOLO LO PUEDE VER EL PROPIETARIO DE LA CUENTA -->
        <div class="button">
            <button>
                <a [routerLink]="['/setting/setting-perfil']">

                    Edita tu perfil
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-tool">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" />
                    </svg>
                </a>
            </button>
        </div>



    </div>

</div>


<!-- TODO SECCIONES -->

<div class="content-layout">

    <!-- Informacion del perfil -->

    <div class="info-seccion">
        <div class="info">
            <h3>Info</h3>
            <div class="texto">

                <!--INFORMACION QUE ESCRIBA EL USUARIO -->
                 <p class="presentacion">Presentacion: {{ presentacion || 'Este usuario aún no ha escrito una
                    presentación.' }}           </p>
                <p>Nombre de usuario: {{ username || 'No ha puesto nombre de usuario'}}</p>
                <p>Ubicación: {{ location || 'Desconocida' }}</p>
            </div>
        </div>
    </div>

    <!-- admin sesion -->

    <div class="admin_session">
        <div class="blogs">
            <h3>Dudas & Blogs</h3>
            <p class="text-center">¿Tienes dudas? ¡Consulta tus dudas aqui!</p>
            <!--TODO Linea que se repite segun tenga creados los blogs del admin, aparte de que si detecta que no tiene blogs, mostrar un mensaje -->
            <div class="container-blog">
                <p class="tituloblog">TITULO</p>
                <p class="descripcion">Contenido del blog</p>
                <button class="btn-view-btn"><a [routerLink]="['/dashboard/blogviews']" class="btn-view">Ir al blog</a></button>
            </div>
            <div class="text-new-blog">

                <a [routerLink]="['/dashboard/blogsettings']" class="btn-new">Nuevos blogs</a>
            </div>
            <!-- Añadir visibilidad, esto solo lo pueden ver los admins -->
        </div>
    </div>

</div>