.container {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header {
    margin-left: 3rem;
    display: flex;
    align-items: center;

}

.header svg {
    padding: 3rem 4rem;
    margin-bottom: 20px;
}

/* TODO BANNER_PERFIL */

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cover-photo {
    position: relative;
    margin-left: 3rem;
    margin-bottom: 3rem;
    width: 1402px;
    height: 361px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.profile-photo {
    position: absolute;
    bottom: 35%;
    width: 243px;
    height: 229px;
    border-radius: 50%;
    background-color: #e0e0e0;
    border: 4px solid white;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    margin-left: 60%;

}

.button>button {
    background: #06ADBF;
    border: solid 1px #06ADBF;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;

}

a {
    text-decoration: none;
    color: white;
}

.button>button:hover {
    background: #0B4359;
    border: solid 1px #0B4359;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
}



/* TODO SECCION */

.content-layout {
    gap: 10px;
    align-items: center;
    margin-left: 3rem;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 6rem;
}


.info-seccion {

    padding: 10px;

    background-color: #06acbf66;
    width: 250px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content-layout .info-seccion h3 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 7px;
}

.content-layout .info-seccion p {
    text-align: justify;
    margin: 0;
    padding: 0;
}

.admin_session {
    /*margin-left: 3rem;
    */
    margin-bottom: 20px;
    margin-right: 3rem;
    background-color: #06acbf66;
    flex-shrink: 1;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.blogs h3 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
}

.blogs .text-center {
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.blogs .container-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    background-color: white;
    padding: 20px;
    
}

.blogs .container-blog button{
    color: black;
}

.blogs .container-blog .tituloblog {
    font-size: 20px;
    font-weight: bold;
    color: #BF303C;
    margin: 0;
    padding: 0;
}


.btn-view-btn{
    background-color: #D90DA2;
    border: solid 1px #D90DA2;
    border-radius: 8px;
    margin-left: 40rem;
}

.btn-view-btn .btn-view{
    color: black;
    font-size: large;
    font-weight: bold;
}
.btn-view-btn .btn-view:hover{
    color: white;
    
}

.text-new-blog {
    text-align: end;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
}

.btn-new{
    color: #BF303C;
}

.btn-new:hover{
    color: black;
}